@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
–––––––––––––––––––––––––––––––––ㄴ–––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.columns {
    width: 9%; }

  .two-half.columns {
    width: 17.6666666667%; }

  .three-half.columns {
    width: 26.3333333333%; } }
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  border-width: 0;
  border-top: 1px solid #dee2e6; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Thin"), local("Lato-Thin"), url(../fonts/Lato-Thin.eot), url(../fonts/Lato-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Thin.woff) format("woff"), url(../fonts/Lato-Thin.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(../fonts/Lato-Light.eot), url(../fonts/Lato-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Light.woff) format("woff"), url(../fonts/Lato-Light.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato-Regular.eot), url(../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: local("Lato Medium"), local("Lato-Medium"), url(../fonts/Lato-Medium.eot), url(../fonts/Lato-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Medium.woff) format("woff"), url(../fonts/Lato-Medium.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato Semibold"), local("Lato-Semibold"), url(../fonts/Lato-Semibold.eot), url(../fonts/Lato-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Semibold.woff) format("woff"), url(../fonts/Lato-Semibold.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato-Bold.eot), url(../fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Bold.woff) format("woff"), url(../fonts/Lato-Bold.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(../fonts/Lato-Black.eot), url(../fonts/Lato-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Black.woff) format("woff"), url(../fonts/Lato-Black.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans CJK KR Thin"), local("NotoSansCJKkr-Thin"), url(../fonts/NotoSans-Thin.eot), url(../fonts/NotoSans-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Thin.woff) format("woff"), url(../fonts/NotoSans-Thin.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK KR Light"), local("NotoSansCJKkr-Light"), url(../fonts/NotoSans-Light.eot), url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff"), url(../fonts/NotoSans-Light.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK KR DemiLight"), local("NotoSansCJKkr-DemiLight"), url(../fonts/NotoSans-DemiLight.eot), url(../fonts/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-DemiLight.woff) format("woff"), url(../fonts/NotoSans-DemiLight.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK KR Regular"), local("NotoSansCJKkr-Regular"), url(../fonts/NotoSans-Regular.eot), url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"), url(../fonts/NotoSans-Regular.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: local("Noto Sans CJK KR Medium"), local("NotoSansCJKkr-Medium"), url(../fonts/NotoSans-Medium.eot), url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"), url(../fonts/NotoSans-Medium.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK KR Bold"), local("NotoSansCJKkr-Bold"), url(../fonts/NotoSans-Bold.eot), url(../fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans-Bold.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK KR Black"), local("NotoSansCJKkr-Black"), url(../fonts/NotoSans-Black.eot), url(../fonts/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Black.woff) format("woff"), url(../fonts/NotoSans-Black.woff2) format("woff2"); }
body {
  font-family: 'Lato', 'Noto Sans KR', Sans-serif;
  font-size: 15px;
  color: #212529;
  letter-spacing: -.015em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */ }

h1 {
  font-size: 36px;
  line-height: 1.45em;
  letter-spacing: -.03em; }

h2 {
  font-size: 27px;
  letter-spacing: -.03em; }

h3 {
  font-size: 21px;
  letter-spacing: -.02em; }

h4 {
  font-weight: 400;
  font-size: 16px; }

h5 {
  font-weight: 600;
  font-size: 12px; }

p {
  font-size: 15px;
  line-height: 1.8em; }

.login {
  position: relative;
  padding: 50px 30px;
  background-color: white;
  text-align: left;
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
  .login:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #bf9d5b;
    content: ""; }
  .login .button-wrapper {
    margin-top: 20px; }
  .login .button {
    padding: 13px 0 14px;
    text-align: center; }
  .login .button ~ .button {
    margin-left: 4%; }
  .login__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px; }
  .login__find-pw {
    float: right;
    color: #bf9d5b;
    font-size: 13px;
    line-height: 18px; }
  .login__sign-up {
    font-size: 14px;
    text-align: center; }
    .login__sign-up a {
      border-bottom: 1px solid #bf9d5b;
      color: #bf9d5b; }
  .login__hr {
    position: relative;
    z-index: 1;
    padding: 22px 0;
    color: #adb5bd;
    text-align: center;
    font-size: 14px; }
    .login__hr:before {
      position: absolute;
      z-index: -2;
      top: 48%;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #dee2e6;
      content: ""; }
    .login__hr:after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      display: inline-block;
      width: 46%;
      height: 100%;
      background-color: white;
      content: "";
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.sign-up {
  position: relative;
  padding: 50px 30px 30px;
  background-color: white;
  text-align: left;
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
  .sign-up:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #bf9d5b;
    content: ""; }
  .sign-up .button-wrapper {
    margin-top: 20px; }
  .sign-up__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 28px; }
  .sign-up .facebook--connected {
    border: 1px solid #4263b1;
    background-color: rgba(66, 99, 177, 0.1);
    color: #4263b1;
    cursor: default;
    pointer-events: none; }

.adult-verify {
  position: relative;
  padding: 50px 30px 30px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
  .adult-verify:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d23b28;
    content: ""; }
  .adult-verify__title {
    font-weight: 600;
    font-size: 28px; }
  .adult-verify__subtitle {
    margin-top: 15px;
    color: #868e96;
    line-height: 1.7em;
    font-size: 15px; }
    .adult-verify__subtitle a {
      border-bottom: 1px solid #bf9d5b;
      color: #bf9d5b; }
  .adult-verify .button-wrapper {
    margin-top: 35px; }
    .adult-verify .button-wrapper .button--filled {
      background-color: #d23b28; }
      .adult-verify .button-wrapper .button--filled:hover {
        background-color: #bd3423; }
  .adult-verify .description {
    padding: 15px;
    background-color: transparent;
    border-color: #dee2e6; }

.section.section__cover {
  position: relative;
  padding: 0;
  background: url("../img/main.jpg");
  background-size: cover; }
  .section.section__cover:before {
    position: absolute;
    top: 0;
    left: -100%;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #e3e7ea;
    content: ""; }
  .section.section__cover .cover__content-wrapper {
    position: relative;
    padding: 290px 0 310px; }
  .section.section__cover .cover__title {
    font-weight: 300; }
  .section.section__cover .cover__subtitle {
    margin-top: 20px;
    margin-left: 2px;
    color: #868e96; }
  .section.section__cover .button-wrapper {
    position: relative;
    margin-top: 32px; }
  .section.section__cover .progressbar {
    position: absolute;
    bottom: -40px;
    overflow: hidden;
    padding: 15px 35px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 23, 80, 0.01), 0 1px 6px rgba(0, 23, 80, 0.015), 0 8px 8px rgba(0, 23, 80, 0.012), 0 16px 16px rgba(0, 23, 80, 0.012), 8px 32px 32px rgba(0, 23, 80, 0.018), 8px 64px 64px rgba(0, 23, 80, 0.018); }
    .section.section__cover .progressbar__number {
      display: inline-block;
      margin-top: 7px;
      color: #495057; }
    .section.section__cover .progressbar__price {
      float: right;
      display: inline-block;
      margin-top: 7px;
      color: #ced4da;
      font-size: 18px; }
    .section.section__cover .progressbar__total {
      position: relative;
      height: 2px;
      margin-top: 15px;
      background-color: #f1f3f5; }
    .section.section__cover .progressbar__percent {
      position: absolute;
      top: -1px;
      display: inline-block;
      width: 82%;
      height: 4px;
      background-color: #bf9d5b;
      box-shadow: 0 4px 4px rgba(0, 23, 80, 0.08), 0 1px 6px rgba(0, 23, 80, 0.12), 0 8px 8px rgba(0, 23, 80, 0.1), 0 16px 16px rgba(0, 23, 80, 0.1), 8px 32px 32px rgba(0, 23, 80, 0.14), 8px 64px 64px rgba(0, 23, 80, 0.14); }

.section.section__merit {
  padding: 155px 0 5px; }
  .section.section__merit .merit__text-wrapper {
    padding-left: 15px;
    margin-top: 73px; }
  .section.section__merit .merit__image {
    width: 100%; }
  .section.section__merit .merit__title {
    font-weight: 400;
    line-height: 1.4em; }
  .section.section__merit .merit__content {
    margin-top: 16px;
    color: #868e96; }

.section.section__boxitem .section__text-wrapper {
  margin-top: 55px; }
.section.section__boxitem .row ~ .row {
  margin-top: 25px; }
.section.section__boxitem .boxitem {
  position: relative;
  padding: 20px 20px 25px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.01), 0 1px 6px rgba(0, 23, 80, 0.015), 0 8px 8px rgba(0, 23, 80, 0.012), 0 16px 16px rgba(0, 23, 80, 0.012), 8px 32px 32px rgba(0, 23, 80, 0.018), 8px 64px 64px rgba(0, 23, 80, 0.018); }
  .section.section__boxitem .boxitem:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #bf9d5b;
    content: ""; }
  .section.section__boxitem .boxitem__image {
    width: 100%; }
  .section.section__boxitem .boxitem__title {
    margin-top: 20px;
    font-weight: 600; }
  .section.section__boxitem .boxitem__content {
    margin-top: 10px;
    color: #868e96;
    font-size: 14px;
    line-height: 1.6em; }

.section.section__nightmeal {
  padding: 60px 0 130px; }
  .section.section__nightmeal .section__text-wrapper {
    padding-left: 20px;
    margin-top: 90px; }
  .section.section__nightmeal .seven.columns {
    position: relative; }
  .section.section__nightmeal .nightmeal__image {
    width: 100%;
    height: 330px; }
  .section.section__nightmeal .nightmeal__circle {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -20px;
    width: 250px;
    height: 250px;
    background: url("../img/pattern.png");
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .section.section__nightmeal .nightmeal__rectangle {
    position: absolute;
    z-index: -1;
    top: 170px;
    right: 220px; }
  .section.section__nightmeal .nightmeal__rectangle:before {
    position: absolute;
    width: 100px;
    height: 250px;
    background: url("../img/pattern.png");
    -webkit-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    transform: rotate(42deg);
    content: ""; }

.section.section__calendar {
  padding: 80px 0; }
  .section.section__calendar .section__text-wrapper {
    padding-left: 50px;
    margin-top: 80px; }
  .section.section__calendar .calendar__image {
    width: 100%;
    height: 435px; }

.section.section__insta {
  padding: 80px 0; }
  .section.section__insta .section__title {
    text-align: center; }
  .section.section__insta .insta__item {
    overflow: hidden;
    margin-top: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
  .section.section__insta .insta__content {
    padding: 30px; }
  .section.section__insta .insta__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/insta__icon.png");
    background-size: cover; }
  .section.section__insta .insta__username {
    display: inline-block;
    margin-top: 2px;
    margin-left: 5px;
    font-weight: 600;
    vertical-align: top; }
  .section.section__insta .insta__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7em; }

.section.section__beluga {
  padding: 110px 0 210px; }
  .section.section__beluga .section__text-wrapper {
    padding-left: 40px;
    margin-top: 45px; }
  .section.section__beluga .beluga__image {
    position: relative; }
    .section.section__beluga .beluga__image:after {
      position: absolute;
      z-index: -1;
      top: 16px;
      left: 16px;
      display: inline-block;
      width: 100%;
      height: 100%;
      border: dashed #bf9d5b;
      border-width: 0 1px 1px 0;
      content: ""; }

.section.section__outro {
  padding: 150px 0;
  background: url("../img/outro.jpg") center;
  background-size: cover; }
  .section.section__outro .outro__title {
    font-weight: 300; }
  .section.section__outro .outro__subtitle {
    margin-top: 20px;
    margin-left: 2px;
    color: #495057; }
  .section.section__outro .button-wrapper {
    margin-top: 32px; }

.step {
  padding: 80px 0 20px;
  border-bottom: 1px solid #dee2e6; }
  .step__item--complete .step__circle {
    background-color: #bf9d5b;
    border-color: #bf9d5b;
    color: white; }
  .step__item--complete .step__title {
    color: #bf9d5b; }
  .step__item--active .step__circle {
    border-color: #bf9d5b;
    color: #bf9d5b; }
  .step__item--active .step__title {
    color: #bf9d5b; }
  .step__circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: 1px solid #ced4da;
    color: #adb5bd;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .step__title {
    display: inline-block;
    margin-left: 7px;
    color: #adb5bd;
    font-weight: 500;
    font-size: 14px; }

.subscribe {
  position: relative;
  padding: 100px 0 110px;
  text-align: center; }
  .subscribe__header {
    font-size: 27px; }
  .subscribe__item {
    position: relative;
    border: 1px solid #dee2e6;
    background-size: cover;
    background-position: center;
    text-align: left;
    cursor: pointer;
    transition: .25s ease-out; }
    .subscribe__item:hover {
      border-color: #adb5bd;
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
    .subscribe__item--selected {
      border-color: #5b844f;
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
      .subscribe__item--selected:hover {
        border-color: #5b844f; }
      .subscribe__item--selected .subscribe__circle {
        display: inline-block; }
    .subscribe__item-wrapper {
      margin-top: 36px; }
  .subscribe__title {
    display: inline-block;
    font-weight: 700; }
  .subscribe__content {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1.6em; }
  .subscribe__tag {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    padding: 8px 10px;
    background-color: white;
    font-weight: 600;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .subscribe__text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 145px;
    padding: 25px 30px 20px 23px; }
  .subscribe__circle {
    position: absolute;
    z-index: 999;
    top: -17px;
    right: -17px;
    display: none;
    width: 44px;
    height: 44px;
    background-color: #5b844f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .subscribe__circle:before {
      position: absolute;
      top: 11px;
      left: 23px;
      width: 3px;
      height: 19px;
      background-color: white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      content: ""; }
    .subscribe__circle:after {
      position: absolute;
      top: 27px;
      left: 14px;
      width: 12px;
      height: 3px;
      background-color: white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      content: ""; }
  .subscribe__type {
    font-weight: 500;
    font-size: 34px;
    line-height: 1em; }
  .subscribe__explain {
    margin-top: 5px;
    margin-left: 1px;
    color: #868e96;
    line-height: 1.65em; }
  .subscribe__month {
    font-weight: 500;
    font-size: 34px;
    line-height: 1em; }
  .subscribe__times {
    margin-top: 5px;
    margin-left: 1px;
    color: #868e96; }
  .subscribe__hr {
    width: 15%;
    margin-top: 16px;
    margin-left: 0;
    margin-bottom: 24px; }
  .subscribe__price {
    display: inline-block;
    margin-left: 1px;
    color: #ced4da;
    text-decoration: line-through; }
    .subscribe__price--none {
      text-decoration: none; }
  .subscribe__discount {
    display: inline-block;
    margin-left: 5px;
    padding-top: 2px;
    color: #d23b28;
    font-size: 13px;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .subscribe__sale-price {
    margin-top: 6px; }

.subscribe__nightmeal:before {
  position: absolute;
  z-index: -999;
  top: 0;
  display: block;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  content: ""; }
.subscribe__nightmeal .subscribe__item {
  min-height: 410px; }
.subscribe__nightmeal .button-wrapper {
  margin-top: 40px; }
  .subscribe__nightmeal .button-wrapper .button {
    min-width: 160px; }

.subscribe__add-on:before {
  position: absolute;
  z-index: -999;
  top: 0;
  display: block;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  content: ""; }
.subscribe__add-on .subscribe__item {
  min-height: 410px;
  background-color: #f1f3f5; }
.subscribe__add-on .button-wrapper {
  margin-top: 40px; }
  .subscribe__add-on .button-wrapper .button {
    min-width: 160px; }

.subscribe__period:before {
  position: absolute;
  z-index: -999;
  top: 0;
  display: block;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  content: ""; }
.subscribe__period .subscribe__item {
  padding: 38px 0 38px 32px;
  background-color: white; }
.subscribe__period .button-wrapper {
  margin-top: 40px; }
  .subscribe__period .button-wrapper .button {
    min-width: 160px; }

.subscribe__delivery {
  padding: 80px 0 40px;
  text-align: left;
  background-color: #f8f9fa; }
  .subscribe__delivery .purchaser-info {
    padding: 25px 20px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01), 0 1px 6px rgba(0, 0, 0, 0.015), 0 8px 8px rgba(0, 0, 0, 0.012), 0 16px 16px rgba(0, 0, 0, 0.012), 8px 32px 32px rgba(0, 0, 0, 0.018), 8px 64px 64px rgba(0, 0, 0, 0.018); }
    .subscribe__delivery .purchaser-info .checkbox-wrapper {
      margin-top: 15px; }
    .subscribe__delivery .purchaser-info__header {
      color: #495057;
      font-size: 13px;
      font-weight: 500; }
    .subscribe__delivery .purchaser-info__item-wrapper {
      overflow: hidden; }
    .subscribe__delivery .purchaser-info__item {
      float: left;
      margin-right: 11px;
      color: #495057;
      font-weight: 600; }

.subscribe__purchase {
  position: relative;
  padding: 0 0 100px;
  text-align: left; }
  .subscribe__purchase:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: #f8f9fa;
    content: ""; }
  .subscribe__purchase .subscribe-info__item {
    position: relative;
    overflow: hidden;
    padding: 28px 20px 25px 30px;
    background-color: white;
    color: #495057;
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    line-height: 1.6em;
    box-shadow: 0 4px 4px rgba(0, 23, 80, 0.005), 0 1px 6px rgba(0, 23, 80, 0.01), 0 8px 8px rgba(0, 23, 80, 0.01), 0 16px 16px rgba(0, 23, 80, 0.01), 8px 32px 32px rgba(0, 23, 80, 0.01), 8px 64px 64px rgba(0, 23, 80, 0.01); }
    .subscribe__purchase .subscribe-info__item:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #bf9d5b;
      content: ""; }
    .subscribe__purchase .subscribe-info__item span {
      color: #868e96;
      font-weight: 500;
      font-size: 14px; }
  .subscribe__purchase .purchase {
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
    .subscribe__purchase .purchase .button-wrapper {
      margin-top: 15px; }
    .subscribe__purchase .purchase .button--filled {
      width: 100%;
      text-align: center; }
    .subscribe__purchase .purchase-info__item {
      position: relative;
      overflow: hidden;
      margin-top: 23px;
      color: #868e96;
      font-size: 16px; }
      .subscribe__purchase .purchase-info__item .input-wrapper {
        margin-top: 0; }
    .subscribe__purchase .purchase-info__label {
      position: relative;
      font-size: 14px; }
    .subscribe__purchase .purchase-info__link {
      display: inline-block;
      margin-top: 9px;
      border-bottom: 1px solid #bf9d5b;
      color: #bf9d5b;
      font-weight: 600;
      font-size: 12px; }
    .subscribe__purchase .purchase-info__value {
      float: right;
      color: #868e96;
      font-weight: 400; }
    .subscribe__purchase .purchase-info__total {
      margin-top: 20px;
      padding: 20px 0 0;
      border-top: 1px dashed #dee2e6; }
      .subscribe__purchase .purchase-info__total .purchase-info__label {
        color: #212529;
        font-weight: 600;
        font-size: 16px; }
      .subscribe__purchase .purchase-info__total .purchase-info__value {
        color: #212529;
        font-weight: 700; }
    .subscribe__purchase .purchase .checkbox-wrapper {
      margin-top: 15px; }

.subscribe__success .receipt {
  position: relative;
  overflow: hidden;
  padding: 45px 30px 35px;
  color: #495057;
  font-weight: 600;
  font-size: 17px;
  text-align: left;
  line-height: 1.6em;
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.01), 0 1px 6px rgba(0, 23, 80, 0.015), 0 8px 8px rgba(0, 23, 80, 0.012), 0 16px 16px rgba(0, 23, 80, 0.012), 8px 32px 32px rgba(0, 23, 80, 0.018), 8px 64px 64px rgba(0, 23, 80, 0.018); }
  .subscribe__success .receipt:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #bf9d5b;
    content: ""; }
  .subscribe__success .receipt__subtitle {
    margin-top: 4px;
    color: #868e96;
    font-weight: 500;
    font-size: 14px; }
  .subscribe__success .receipt__content {
    margin-top: 25px;
    font-weight: 500;
    font-size: 14px; }
  .subscribe__success .receipt hr {
    margin-top: 40px;
    margin-bottom: 10px;
    border-color: #e9ecef; }
  .subscribe__success .receipt__list hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed #dee2e6;
    border-bottom: 0; }
  .subscribe__success .receipt__item {
    padding: 5px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7em; }
    .subscribe__success .receipt__item__description {
      color: #868e96;
      font-weight: 500; }
    .subscribe__success .receipt__item--result {
      font-size: 16px; }
  .subscribe__success .receipt__price {
    float: right;
    font-weight: 600; }
  .subscribe__success .receipt__pattern {
    position: relative;
    width: 100%;
    height: 6px;
    background: url("../img/receipt__pattern.png");
    background-size: 12px 6px; }
  .subscribe__success .receipt__coupon {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding: 22px 25px 25px;
    background-color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.7em;
    text-align: left;
    box-shadow: 0 4px 4px rgba(0, 23, 80, 0.01), 0 1px 6px rgba(0, 23, 80, 0.015), 0 8px 8px rgba(0, 23, 80, 0.012), 0 16px 16px rgba(0, 23, 80, 0.012), 8px 32px 32px rgba(0, 23, 80, 0.018), 8px 64px 64px rgba(0, 23, 80, 0.018); }
    .subscribe__success .receipt__coupon:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #bf9d5b;
      content: ""; }
    .subscribe__success .receipt__coupon .button {
      display: block;
      margin-top: 18px;
      padding: 12px 25px 13px; }
  .subscribe__success .receipt__couponcode {
    float: right;
    font-weight: 600; }
  .subscribe__success .receipt__couponlink {
    border-bottom: 1px solid #bf9d5b;
    color: #bf9d5b;
    font-weight: 500; }
.subscribe__success .jsCalendar table {
  box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
.subscribe__success .button-wrapper {
  margin-top: 20px; }
  .subscribe__success .button-wrapper .button {
    width: 100%; }

.profile {
  padding-top: 25px; }
  .profile__title {
    font-weight: 600; }
  .profile__subtitle {
    margin-top: 10px;
    color: #adb5bd;
    line-height: 1.6em; }

.submenu {
  margin-top: 45px; }
  .submenu__item {
    padding: 15px 0; }
    .submenu__item:hover a {
      color: #212529; }
    .submenu__item:hover .submenu__icon__subscribe {
      background: url("../img/submenu__icon__subscribe--active.png");
      background-size: cover; }
    .submenu__item:hover .submenu__icon__myinfo {
      background: url("../img/submenu__icon__myinfo--active.png");
      background-size: cover; }
    .submenu__item:hover .submenu__icon__point {
      background: url("../img/submenu__icon__point--active.png");
      background-size: cover; }
    .submenu__item:hover .submenu__icon__gift {
      background: url("../img/submenu__icon__gift--active.png");
      background-size: cover; }
    .submenu__item--active .submenu__icon__subscribe {
      background: url("../img/submenu__icon__subscribe--active.png");
      background-size: cover; }
    .submenu__item--active .submenu__icon__myinfo {
      background: url("../img/submenu__icon__myinfo--active.png");
      background-size: cover; }
    .submenu__item--active .submenu__icon__point {
      background: url("../img/submenu__icon__point--active.png");
      background-size: cover; }
    .submenu__item--active .submenu__icon__gift {
      background: url("../img/submenu__icon__gift--active.png");
      background-size: cover; }
  .submenu__item a {
    margin-left: 18px;
    color: #adb5bd;
    vertical-align: super;
    transition: 0.25s ease-out; }
  .submenu__item--active a {
    color: #212529; }
  .submenu__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    transition: 0.25s ease-out; }
    .submenu__icon__subscribe {
      background: url("../img/submenu__icon__subscribe.png");
      background-size: cover; }
    .submenu__icon__myinfo {
      background: url("../img/submenu__icon__myinfo.png");
      background-size: cover; }
    .submenu__icon__point {
      background: url("../img/submenu__icon__point.png");
      background-size: cover; }
    .submenu__icon__gift {
      background: url("../img/submenu__icon__gift.png");
      background-size: cover; }

.mypage {
  padding: 120px 0; }
  .mypage__subscribe {
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 23, 80, 0.02), 0 1px 6px rgba(0, 23, 80, 0.03), 0 8px 8px rgba(0, 23, 80, 0.024), 0 16px 16px rgba(0, 23, 80, 0.024), 8px 32px 32px rgba(0, 23, 80, 0.036), 8px 64px 64px rgba(0, 23, 80, 0.036); }
    .mypage__subscribe:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #bf9d5b;
      content: ""; }
    .mypage__subscribe__item {
      position: relative;
      padding: 38px 0 38px 38px; }
    .mypage__subscribe__item ~ .mypage__subscribe__item:before {
      position: absolute;
      top: 20%;
      left: 0px;
      display: inline-block;
      width: 1px;
      height: 60%;
      background-color: #f1f3f5;
      content: ""; }
    .mypage__subscribe__title {
      color: #adb5bd;
      font-size: 13px;
      font-weight: 600; }
      .mypage__subscribe__title b {
        display: inline-block;
        margin-top: 8px;
        color: #212529;
        font-size: 18px;
        font-weight: 500; }
    .mypage__subscribe__content {
      margin-top: 20px;
      font-size: 20px; }
    .mypage__subscribe__link {
      color: #bf9d5b;
      font-weight: 500;
      font-size: 13px; }
    .mypage__subscribe__address {
      margin-top: 20px; }
      .mypage__subscribe__address span {
        display: inline-block;
        margin-top: 25px;
        color: #adb5bd;
        font-size: 14px; }
      .mypage__subscribe__address p {
        margin-top: 12px;
        font-size: 14px;
        line-height: 1.3em; }
    .mypage__subscribe hr {
      margin-top: 25px;
      border-color: #f1f3f5; }
    .mypage__subscribe .row:nth-child(1) {
      box-shadow: 0 4px 4px rgba(0, 23, 80, 0.005), 0 1px 6px rgba(0, 23, 80, 0.01), 0 8px 8px rgba(0, 23, 80, 0.01), 0 16px 16px rgba(0, 23, 80, 0.01), 8px 32px 32px rgba(0, 23, 80, 0.01), 8px 64px 64px rgba(0, 23, 80, 0.01); }
    .mypage__subscribe .jsCalendar table {
      background-color: transparent; }
    .mypage__subscribe .auto-jsCalendar {
      position: relative;
      padding: 0px 20px 25px 20px; }
      .mypage__subscribe .auto-jsCalendar:before {
        position: absolute;
        top: 8%;
        left: 0px;
        display: inline-block;
        width: 1px;
        height: 82%;
        background-color: #f1f3f5;
        content: ""; }

.mypage__table {
  width: 100%;
  margin-top: 20px; }
  .mypage__table-wrapper .button-wrapper {
    float: right;
    display: inline-block;
    margin-top: 31px; }
    .mypage__table-wrapper .button-wrapper .button--ghost {
      padding: 10px 14px; }
  .mypage__table th, .mypage__table td {
    font-size: 14px; }
  .mypage__table th {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6; }
  .mypage__table td {
    border-bottom: 1px dashed #dee2e6; }
  .mypage__table tr:last-child {
    border-bottom: 1px solid #dee2e6; }
  .mypage__table .view td:last-child {
    position: relative; }
    .mypage__table .view td:last-child:before {
      position: absolute;
      top: 11px;
      right: 55%;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-bottom: 4px;
      border: solid #212529;
      border-width: 0 1px 1px 0;
      transform: rotate(45deg);
      content: "";
      transition: 0.2s ease-out; }
  .mypage__table .view.open td:last-child:before {
    top: 17px;
    transform: rotate(225deg); }
  .mypage__table__title {
    display: inline-block;
    margin-top: 40px;
    font-weight: 600; }
  .mypage__table__link {
    color: #bf9d5b;
    font-weight: 500;
    font-size: 14px; }
  .mypage__table .view {
    cursor: pointer; }
  .mypage__table .fold {
    display: none;
    background-color: #f8f9fa; }
    .mypage__table .fold__item {
      position: relative;
      padding: 20px 0 20px 20px; }
    .mypage__table .fold__item ~ .fold__item:before {
      position: absolute;
      top: 20%;
      left: 0px;
      display: inline-block;
      width: 1px;
      height: 60%;
      background-color: #e9ecef;
      content: ""; }
    .mypage__table .fold__title {
      color: #adb5bd;
      font-size: 13px;
      font-weight: 600; }
    .mypage__table .fold__content {
      margin-top: 12px;
      font-size: 15px;
      line-height: 1.5em; }
  .mypage__table .open {
    display: table-row; }

.mypage__gift .mypage__table__title {
  margin-top: 26px; }
.mypage__gift .button-wrapper {
  margin-top: 17px; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; }

.wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 214px;
  /* footer height */ }

.nav {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 60px; }
  .nav__logo {
    width: 36px;
    height: 36px;
    margin-top: 12px;
    background: url("../img/logo.jpg");
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .nav__menu {
    text-align: right; }
  .nav__item {
    display: inline-block;
    padding: 13px 20px;
    margin-top: 9px;
    color: #868e96;
    font-size: 13.5px;
    transition: .25s ease-out; }
    .nav__item:hover {
      color: #212529; }
  .nav__item--active {
    color: #495057;
    font-weight: 600; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 35px 0;
  background-color: #343a40;
  color: #dee2e6;
  text-align: left; }
  .footer__bold {
    margin-right: 4px;
    font-weight: 600; }
  .footer__content {
    font-weight: 300;
    font-size: 12px;
    line-height: 2em; }
  .footer__list__title {
    margin-bottom: 15px; }
  .footer__list {
    font-size: 12px; }
  .footer__item {
    margin-top: 8px;
    color: #dee2e6;
    font-weight: 300; }

.section {
  padding: 120px 0; }
  .section__title {
    font-weight: 400;
    line-height: 1.4em; }
  .section__content {
    margin-top: 20px;
    color: #868e96; }

.button {
  display: inline-block;
  padding: 15px 25px 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -.025em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: .2s ease-out background-color; }
  .button:active {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99); }

.button ~ .button {
  margin-left: 10px; }

.button--filled {
  background-color: #bf9d5b;
  color: white; }
  .button--filled:hover {
    background-color: #ac8b4e; }

.button--ghost {
  border: 1px solid #bf9d5b;
  background-color: transparent;
  color: #bf9d5b; }
  .button--ghost:hover {
    background-color: rgba(191, 157, 91, 0.1); }

.button--text {
  border: 0;
  color: #bf9d5b; }
  .button--text:hover {
    background-color: rgba(191, 157, 91, 0.1); }

.button--facebook {
  background-color: #4263b1;
  color: white;
  text-decoration: none; }
  .button--facebook:hover {
    background-color: #3959a5; }

.input {
  width: 100%;
  padding: 9px 9px 10px;
  border: 1px solid #dee2e6;
  background-color: white;
  font-family: 'Lato', 'Noto Sans KR', Sans-serif;
  font-weight: 400;
  font-size: 14px; }
  .input--invalid {
    border-color: #d23b28; }
  .input--invalid ~ .input__label {
    color: #d23b28; }
  .input--invalid ~ .input__bar__horizontal:before, .input--invalid ~ .input__bar__horizontal:after, .input--invalid ~ .input__bar__vertical:before, .input--invalid ~ .input__bar__vertical:after {
    border-color: #d23b28; }
  .input:focus {
    outline: 0; }
  .input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #adb5bd;
    opacity: 1;
    /* Firefox */ }
  .input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #adb5bd; }
  .input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #adb5bd; }
  .input-wrapper {
    position: relative;
    margin-top: 40px; }
  .input__label {
    position: absolute;
    top: -20px;
    left: 0px;
    color: #495057;
    font-weight: 500;
    font-size: 13px;
    pointer-events: none; }
  .input__alert {
    display: none;
    margin-top: 8px;
    color: #d23b28;
    font-size: 13px; }
    .input__alert--show {
      display: inline-block; }
  .input__bar__horizontal:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #868e96;
    content: "";
    transition: .2s ease;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: right center;
    pointer-events: none; }
  .input__bar__horizontal:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #868e96;
    content: "";
    transition: .15s ease;
    transition-delay: .3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left center;
    pointer-events: none; }
  .input:focus ~ .input__bar__horizontal:before, .input:valid ~ .input__bar__horizontal:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transition-delay: .45s; }
  .input:focus ~ .input__bar__horizontal:after, .input:valid ~ .input__bar__horizontal:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transition-delay: .15s; }
  .input__bar__vertical:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #868e96;
    content: "";
    transition: .15s ease;
    transition-delay: .45s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: top center;
    pointer-events: none; }
  .input__bar__vertical:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #868e96;
    content: "";
    transition: .15s ease;
    transition-delay: .15s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: bottom center;
    pointer-events: none; }
  .input:focus ~ .input__bar__vertical:before, .input:valid ~ .input__bar__vertical:before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    transition-delay: 0s; }
  .input:focus ~ .input__bar__vertical:after, .input:valid ~ .input__bar__vertical:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    transition-delay: .3s; }

.checkbox {
  display: none; }
  .checkbox-wrapper {
    margin-top: 10px; }
  .checkbox__label {
    color: #495057;
    font-size: 13px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .checkbox__icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 8px;
    border: 1px solid #ced4da;
    vertical-align: middle;
    transition: 0.15s ease background-color; }

input[type="checkbox"]:checked + label span {
  border-color: #bf9d5b;
  background-color: #bf9d5b;
  transition: 0.15s ease background-color, border-color; }
  input[type="checkbox"]:checked + label span:after {
    position: absolute;
    top: 1px;
    left: 4px;
    display: inline-block;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: ""; }

.radio-wrapper--text {
  margin-top: 20px; }
  .radio-wrapper--text .input-wrapper {
    margin-top: 8px; }
  .radio-wrapper--text input[type="radio"] {
    display: none; }
  .radio-wrapper--text input[type="radio"] + .radio__label .radio__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    border: 1px solid #ced4da;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .radio-wrapper--text input[type="radio"]:checked + .radio__label {
    color: #bf9d5b;
    font-weight: 500; }
  .radio-wrapper--text input[type="radio"]:checked + .radio__label .radio__icon {
    position: relative;
    border-color: #bf9d5b; }
    .radio-wrapper--text input[type="radio"]:checked + .radio__label .radio__icon:after {
      position: absolute;
      top: 3px;
      left: 3px;
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #bf9d5b;
      content: "";
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
  .radio-wrapper--text .radio__header {
    margin-bottom: 10px;
    color: #495057;
    font-weight: 500;
    font-size: 13px; }
  .radio-wrapper--text .radio__label {
    color: #495057;
    font-size: 14px;
    cursor: pointer; }
  .radio-wrapper--text .radio__label ~ .radio__label {
    margin-left: 12px; }

.radio-wrapper--gc {
  margin-top: 20px; }
  .radio-wrapper--gc input[type="radio"] {
    display: none; }
  .radio-wrapper--gc input[type="radio"] + .radio__label .radio__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .radio-wrapper--gc input[type="radio"]:checked + .radio__label .radio__icon {
    background-color: #5b844f;
    border-color: #5b844f; }
  .radio-wrapper--gc input[type="radio"]:checked + .radio__label {
    border-color: #5b844f;
    color: #5b844f;
    font-weight: 500; }
  .radio-wrapper--gc .radio__header {
    color: #495057;
    font-weight: 500;
    font-size: 13px; }
  .radio-wrapper--gc .radio__label {
    margin-top: 10px;
    padding: 18px;
    border: 1px solid #dee2e6;
    background-color: white;
    color: #868e96;
    font-size: 14px;
    cursor: pointer; }
  .radio-wrapper--gc .radio__label ~ .radio__label {
    margin-top: 6px; }
  .radio-wrapper--gc .radio__icon {
    position: relative;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .radio-wrapper--gc .radio__icon:before {
      position: absolute;
      top: 3px;
      left: 9px;
      width: 2px;
      height: 9px;
      background-color: white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      content: ""; }
    .radio-wrapper--gc .radio__icon:after {
      position: absolute;
      top: 10px;
      left: 5px;
      width: 6px;
      height: 2px;
      background-color: white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      content: ""; }

.select {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid #bf9d5b;
  background-color: white;
  color: #bf9d5b;
  font-family: 'Lato', 'Noto Sans KR', Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-indent: 16px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .select:focus {
    outline: none; }
  .select-wrapper:before {
    position: absolute;
    z-index: 999;
    top: 13px;
    right: 16px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid #bf9d5b;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: ""; }

.description {
  padding: 20px 15px;
  margin-top: 15px;
  border: 1px dashed #ced4da;
  text-align: center; }
  .description__item {
    color: #868e96;
    font-size: 12px;
    line-height: 1.4em; }
  .description__item + .description__item {
    margin-top: 8px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.65); }
  .modal__content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 40px 35px;
    background-color: white;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .modal__title {
    text-align: center; }
  .modal .button-wrapper {
    margin-top: 20px; }

.pagenation-wrapper {
  text-align: center; }
.pagenation__list {
  display: inline-block;
  margin-top: 20px; }
.pagenation__list li {
  float: left;
  cursor: pointer;
  transition: 0.2s ease-out; }
  .pagenation__list li:hover {
    background-color: #f1f3f5; }
.pagenation__prev {
  padding: 8px 8px 8px 13px; }
  .pagenation__prev:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid #212529;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    content: ""; }
  .pagenation__prev--disabled:after {
    border-color: #dee2e6; }
.pagenation__number {
  padding: 9px 14px;
  color: #dee2e6;
  font-size: 13px; }
  .pagenation__number--active {
    background-color: #f1f3f5;
    color: #212529; }
.pagenation__next {
  padding: 8px 13px 8px 8px; }
  .pagenation__next:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid #212529;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    content: ""; }

body *::selection {
  background-color: rgba(191, 157, 91, 0.4); }

a {
  text-decoration: none; }

.empty {
  height: 1px; }

/*# sourceMappingURL=common.css.map */
