@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
–––––––––––––––––––––––––––––––––ㄴ–––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.columns {
    width: 9%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  border-width: 0;
  border-top: 1px solid #dee2e6; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Thin"), local("Lato-Thin"), url(../fonts/Lato-Thin.eot), url(../fonts/Lato-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Thin.woff) format("woff"), url(../fonts/Lato-Thin.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(../fonts/Lato-Light.eot), url(../fonts/Lato-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Light.woff) format("woff"), url(../fonts/Lato-Light.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato-Regular.eot), url(../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: local("Lato Medium"), local("Lato-Medium"), url(../fonts/Lato-Medium.eot), url(../fonts/Lato-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Medium.woff) format("woff"), url(../fonts/Lato-Medium.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local("Lato Semibold"), local("Lato-Semibold"), url(../fonts/Lato-Semibold.eot), url(../fonts/Lato-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Semibold.woff) format("woff"), url(../fonts/Lato-Semibold.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato-Bold.eot), url(../fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Bold.woff) format("woff"), url(../fonts/Lato-Bold.woff2) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(../fonts/Lato-Black.eot), url(../fonts/Lato-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Black.woff) format("woff"), url(../fonts/Lato-Black.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans CJK KR Thin"), local("NotoSansCJKkr-Thin"), url(../fonts/NotoSans-Thin.eot), url(../fonts/NotoSans-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Thin.woff) format("woff"), url(../fonts/NotoSans-Thin.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK KR Light"), local("NotoSansCJKkr-Light"), url(../fonts/NotoSans-Light.eot), url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Light.woff) format("woff"), url(../fonts/NotoSans-Light.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK KR DemiLight"), local("NotoSansCJKkr-DemiLight"), url(../fonts/NotoSans-DemiLight.eot), url(../fonts/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-DemiLight.woff) format("woff"), url(../fonts/NotoSans-DemiLight.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans CJK KR Regular"), local("NotoSansCJKkr-Regular"), url(../fonts/NotoSans-Regular.eot), url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Regular.woff) format("woff"), url(../fonts/NotoSans-Regular.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: local("Noto Sans CJK KR Medium"), local("NotoSansCJKkr-Medium"), url(../fonts/NotoSans-Medium.eot), url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Medium.woff) format("woff"), url(../fonts/NotoSans-Medium.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans CJK KR Bold"), local("NotoSansCJKkr-Bold"), url(../fonts/NotoSans-Bold.eot), url(../fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Bold.woff) format("woff"), url(../fonts/NotoSans-Bold.woff2) format("woff2"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK KR Black"), local("NotoSansCJKkr-Black"), url(../fonts/NotoSans-Black.eot), url(../fonts/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSans-Black.woff) format("woff"), url(../fonts/NotoSans-Black.woff2) format("woff2"); }
body {
  font-family: 'Lato', 'Noto Sans KR', Sans-serif;
  font-size: 15px;
  color: #212529;
  letter-spacing: -.015em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */ }

h1 {
  font-size: 36px;
  line-height: 1.45em;
  letter-spacing: -.03em; }

h2 {
  font-size: 25px;
  letter-spacing: -.03em; }

h3 {
  font-size: 21px;
  letter-spacing: -.02em; }

h4 {
  font-weight: 400;
  font-size: 16px; }

h5 {
  font-weight: 600;
  font-size: 12px; }

p {
  font-size: 15px;
  line-height: 1.8em; }

.section__cover {
  min-height: 500px;
  background-color: #f1f3f5; }
  .section__cover .cover__title {
    margin-top: 95px;
    font-weight: 300; }
  .section__cover .cover__subtitle {
    margin-top: 20px;
    margin-left: 2px;
    color: #868e96; }
  .section__cover .button-wrapper {
    margin-top: 32px; }
  .section__cover .countdown {
    position: absolute;
    z-index: 1;
    top: 488px;
    left: 0;
    width: 436px;
    padding: 35px 0;
    background-color: white;
    -webkit-border-radius: 0 0 120px 0;
    -moz-border-radius: 0 0 120px 0;
    border-radius: 0 0 120px 0; }
    .section__cover .countdown__items {
      margin-top: 10px; }
    .section__cover .countdown__item {
      font-size: 36px;
      letter-spacing: -.03em; }
      .section__cover .countdown__item b {
        color: #e9ecef;
        font-weight: 400; }
    .section__cover .countdown__unit {
      margin-left: -1px;
      margin-right: 15px; }
    .section__cover .countdown:before {
      position: absolute;
      z-index: -1;
      left: -150%;
      top: 0;
      display: inline-block;
      width: 200%;
      height: 100%;
      background-color: white;
      content: ""; }

.section.section__nightmeal {
  padding: 160px 0 100px; }
  .section.section__nightmeal .section__text-wrapper {
    padding-left: 20px;
    margin-top: 90px; }
  .section.section__nightmeal .nightmeal__image {
    width: 100%;
    height: 330px;
    background-color: #e9ecef; }

.section__delivery .section__text-wrapper {
  margin-top: 85px; }
.section__delivery .delivery__image {
  width: 100%;
  height: 300px;
  background-color: #e9ecef; }

.section__merit .merit__text-wrapper {
  padding-left: 15px;
  margin-top: 73px; }
.section__merit .merit__image {
  width: 100%;
  height: 240px;
  background-color: #e9ecef; }
.section__merit .merit__title {
  font-weight: 400;
  line-height: 1.4em; }
.section__merit .merit__content {
  margin-top: 16px;
  color: #868e96; }

.section__calendar .section__text-wrapper {
  padding-left: 25px;
  margin-top: 120px; }
.section__calendar .calendar__image {
  width: 100%;
  height: 380px;
  background-color: #e9ecef; }

.section__insta .section__title {
  text-align: center; }
.section__insta .insta__item {
  height: 360px;
  margin-top: 40px;
  background-color: #e9ecef; }

.section.section__beluga {
  padding: 100px 0 160px; }
  .section.section__beluga .section__text-wrapper {
    padding-left: 20px;
    margin-top: 35px; }
  .section.section__beluga .beluga__image {
    width: 100%;
    height: 400px;
    background-color: #e9ecef; }

.section__outro {
  min-height: 380px;
  background-color: #f1f3f5; }
  .section__outro .outro__title {
    margin-top: 96px;
    font-weight: 300; }
  .section__outro .outro__subtitle {
    margin-top: 20px;
    margin-left: 2px;
    color: #868e96; }
  .section__outro .button-wrapper {
    margin-top: 32px; }

.step {
  padding: 20px 0;
  margin-top: 60px;
  border-bottom: 1px solid #dee2e6;
  background-color: rgba(248, 249, 250, 0.4); }
  .step__item--complete .step__circle {
    background-color: #c9a87a;
    border-color: #c9a87a;
    color: white; }
  .step__item--complete .step__title {
    color: #c9a87a; }
  .step__item--active .step__circle {
    border-color: #c9a87a;
    color: #c9a87a; }
  .step__item--active .step__title {
    color: #c9a87a; }
  .step__circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: 1px solid #ced4da;
    color: #adb5bd;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .step__title {
    display: inline-block;
    margin-left: 7px;
    color: #adb5bd;
    font-weight: 600;
    font-size: 14px; }

.select {
  position: relative;
  padding: 60px 0 110px;
  text-align: center; }
  .select__header {
    font-size: 27px; }
  .select .button-wrapper {
    margin-top: 40px; }
    .select .button-wrapper .button {
      min-width: 110px; }
  .select__item {
    position: relative;
    border: 1px solid #dee2e6;
    text-align: left;
    cursor: pointer;
    transition: .25s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .select__item:hover {
      transform: scale(1.01);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01), 0 1px 6px rgba(0, 0, 0, 0.015), 0 8px 8px rgba(0, 0, 0, 0.012), 0 16px 16px rgba(0, 0, 0, 0.012), 8px 32px 32px rgba(0, 0, 0, 0.018), 8px 64px 64px rgba(0, 0, 0, 0.018); }
    .select__item--selected {
      border-color: #7bbb5e;
      transform: scale(1.01);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.01), 0 1px 6px rgba(0, 0, 0, 0.015), 0 8px 8px rgba(0, 0, 0, 0.012), 0 16px 16px rgba(0, 0, 0, 0.012), 8px 32px 32px rgba(0, 0, 0, 0.018), 8px 64px 64px rgba(0, 0, 0, 0.018); }
      .select__item--selected .select__circle {
        display: inline-block; }
    .select__item-wrapper {
      margin-top: 36px; }
  .select__title {
    display: inline-block;
    font-weight: 700; }
  .select__content {
    margin-top: 10px;
    color: #868e96;
    font-size: 13px;
    line-height: 1.6em; }
  .select__tag {
    margin-left: 6px;
    padding: 2px 4px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .select__tag--emphasis {
      border: 1px solid #ff8a8d;
      color: #ff8a8d; }
    .select__tag--positive {
      border: 1px solid #7bbb5e;
      color: #7bbb5e; }
  .select__text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 145px;
    padding: 25px 30px 20px 23px;
    background-color: white;
    -webkit-border-radius: 0 3px 0 3px;
    -moz-border-radius: 0 3px 0 3px;
    border-radius: 0 3px 0 3px; }
  .select__circle {
    position: absolute;
    z-index: 999;
    top: -17px;
    right: -17px;
    display: none;
    width: 44px;
    height: 44px;
    background-color: #7bbb5e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(45deg); }
    .select__circle:before {
      position: absolute;
      top: 11px;
      left: 23px;
      width: 3px;
      height: 19px;
      background-color: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      content: ""; }
    .select__circle:after {
      position: absolute;
      top: 27px;
      left: 14px;
      width: 12px;
      height: 3px;
      background-color: white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      content: ""; }
  .select__month {
    font-weight: 500;
    font-size: 34px;
    line-height: 1em; }
  .select__times {
    margin-top: 5px;
    margin-left: 1px;
    color: #868e96; }
  .select__hr {
    width: 15%;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 25px; }
  .select__price {
    display: inline-block;
    margin-left: 1px;
    color: #ced4da;
    text-decoration: line-through; }
    .select__price--none {
      text-decoration: none; }
  .select__discount {
    display: inline-block;
    margin-left: 5px;
    padding-top: 2px;
    color: #ff8a8d;
    font-size: 13px;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .select__sale-price {
    margin-top: 6px; }

.select__nightmeal:before {
  position: absolute;
  z-index: -999;
  top: 0;
  display: block;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  content: ""; }
.select__nightmeal .select__item {
  min-height: 350px;
  background-color: #f1f3f5; }

.select__add-on:before {
  position: absolute;
  z-index: -999;
  top: 0;
  display: block;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  content: ""; }
.select__add-on .select__item {
  min-height: 350px;
  background-color: #f1f3f5; }

.select__period:before {
  position: absolute;
  z-index: -999;
  top: 0;
  display: block;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  content: ""; }
.select__period .select__item {
  padding: 38px 0 38px 32px;
  background-color: white; }

.nav {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 60px; }
  .nav__logo {
    width: 36px;
    height: 36px;
    margin-top: 12px;
    background-color: #212529;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .nav__menu {
    text-align: right; }
  .nav__item {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 22px;
    color: #868e96;
    font-size: 13.5px; }
  .nav__item--active {
    color: #495057;
    font-weight: 600; }

.footer {
  padding: 35px 0;
  background-color: #343a40;
  color: #dee2e6; }
  .footer__bold {
    margin-right: 4px;
    font-weight: 600; }
  .footer__content {
    font-weight: 300;
    font-size: 12px;
    line-height: 2em; }
  .footer__list__title {
    margin-bottom: 15px; }
  .footer__list {
    font-size: 12px; }
  .footer__item {
    margin-top: 8px;
    color: #dee2e6;
    font-weight: 300; }

.section {
  padding: 120px 0; }
  .section__title {
    font-weight: 400;
    line-height: 1.4em; }
  .section__content {
    margin-top: 20px;
    color: #868e96; }

.button {
  display: inline-block;
  padding: 14px 25px 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -.025em;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.button ~ .button {
  margin-left: 10px; }

.button--filled {
  background-color: #c9a87a;
  color: white; }

.button--ghost {
  border: 1px solid #c9a87a;
  background-color: transparent;
  color: #c9a87a; }

.button--text {
  border: 0;
  color: #c9a87a; }

a {
  text-decoration: none; }

.empty {
  height: 1px; }

/*# sourceMappingURL=common.css.map */
