// SASS Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'ingredients/reset';
@import 'ingredients/skeleton';
@import 'ingredients/color';
@import 'ingredients/type';
@import 'ingredients/mixin';
@import 'pages/login';
@import 'pages/index';
@import 'pages/subscribe';

// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Navigation
// - Footer
// - Section
// - Button
// - Input
// - Select list
// - Description
// - Etc

// Navigation
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.nav {
  position: absolute;
  z-index: 999;
  top: 0;

  width: 100%;
  height: 60px;

  &__logo {
    width: 36px;
    height: 36px;
    margin-top: 12px;

    background-color: $gray-9;

    @include border-radius(50%);
  }

  &__menu {
    text-align: right;
  }

  &__item {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 22px;

    color: $gray-6;

    font-size: 13.5px;
  }

  &__item--active {
    color: $gray-7;

    font-weight: 600;
  }
}

// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.footer {
  padding: 35px 0;

  background-color: $gray-8;
  color: $gray-3;

  &__bold {
    margin-right: 4px;

    font-weight: 600;
  }

  &__content {
    font-weight: 300;
    font-size: 12px;
    line-height: 2em;
  }

  &__list__title {
    margin-bottom: 15px;
  }

  &__list {
    font-size: 12px;
  }

  &__item {
    margin-top: 8px;

    color: $gray-3;

    font-weight: 300;
  }
}

// Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.section {
  padding: 120px 0;

  &__title {
    font-weight: 400;
    line-height: 1.4em;
  }

  &__content {
    margin-top: 20px;

    color: $gray-6;
  }
}

// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button {
  display: inline-block;
  padding: 15px 25px 16px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -.025em;
  text-align: center;
  text-decoration: none;

  box-sizing: border-box;
  transition: .2s ease-out background-color;
  @include border-radius(3px);
  &:active { transform: scale(0.99); }
}

.button~.button {
  margin-left: 10px;
}

.button--filled {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: $primary--dark;
  }
}

.button--ghost {
  border: 1px solid $primary;

  background-color: transparent;
  color: $primary;

  &:hover {
    background-color: rgba(191,157,91,.1);
  }
}

.button--text {
  border: 0;

  color: $primary;

  &:hover {
    background-color: rgba(191,157,91,.1);
  }
}

.button--facebook {
  background-color: #4263b1;
  color: white;

  text-decoration: none;

  &:hover {
    background-color: #3959a5;
  }
}


// Input
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.input {
  width: 100%;
  padding: 9px 9px 10px;
  border: 1px solid $border;

  background-color: white;

  font-family: 'Lato', 'Noto Sans KR', Sans-serif;
  font-weight: 400;
  font-size: 14px;

  box-sizing: border-box;
  @include border-radius(3px);

  // invalid 상태일 때
  &--invalid {
    border-color: $emphasis;
  }
  &--invalid~.input__label {
    color: $emphasis;
  }
  &--invalid~.input__bar__horizontal:before,
  &--invalid~.input__bar__horizontal:after,
  &--invalid~.input__bar__vertical:before,
  &--invalid~.input__bar__vertical:after {
    border-color: $emphasis;
  }   // invalid 상태일 때 // 끝

  &:focus { outline: 0; }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray-5;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray-5;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $gray-5;
  }

  &-wrapper {
    position: relative;

    margin-top: 40px;
  }

  &__label {
    position: absolute;
    top: -20px;
    left: 0px;

    color: $gray-7;

    font-weight: 500;
    font-size: 13px;

    pointer-events: none;
  }

  &__alert {
    display: none;
    margin-top: 8px;

    color: $emphasis;

    font-size: 13px;
    &--show { display: inline-block; }
  }

  // Input Border Animation
  &__bar__horizontal:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-top: 1px solid $gray-6;

    content: "";
    transition: .2s ease;
    transform: scaleX(0);
    transform-origin: right center;

    pointer-events: none;
    @include border-radius(3px);
  }
  &__bar__horizontal:after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    border-bottom: 1px solid $gray-6;

    content: "";
    transition: .15s ease;
    transition-delay: .3s;
    transform: scaleX(0);
    transform-origin: left center;
    pointer-events: none;
    @include border-radius(3px);
  }
  &:focus~.input__bar__horizontal:before,
  &:valid~.input__bar__horizontal:before {
    transform: scaleX(1);
    transition-delay: .45s;
  }
  &:focus~.input__bar__horizontal:after,
  &:valid~.input__bar__horizontal:after {
    transform: scaleX(1);
    transition-delay: .15s;
  }
  &__bar__vertical:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-left: 1px solid $gray-6;

    content: "";
    transition: .15s ease;
    transition-delay: .45s;
    transform: scaleY(0);
    transform-origin: top center;
    pointer-events: none;
    @include border-radius(3px);
  }
  &__bar__vertical:after {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
    border-right: 1px solid $gray-6;

    content: "";
    transition: .15s ease;
    transition-delay: .15s;
    transform: scaleY(0);
    transform-origin: bottom center;
    pointer-events: none;
    @include border-radius(3px);
  }
  &:focus~.input__bar__vertical:before,
  &:valid~.input__bar__vertical:before {
    transform: scaleY(1);
    transition-delay: 0s;
  }
  &:focus~.input__bar__vertical:after,
  &:valid~.input__bar__vertical:after {
    transform: scaleY(1);
    transition-delay: .3s;
  } // Input Border Animation 끝

}
.checkbox {
  display: none;
  &-wrapper {
    margin-top: 10px;

  }
  &__label {
    color: $gray-7;

    font-size: 13px;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  &__icon {
    position: relative;

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 8px;
    border: 1px solid $gray-4;

    vertical-align: middle;
    transition: 0.15s ease background-color;

    @include border-radius(3px);
  }
}
input[type="checkbox"]:checked + label span {
  border-color: $primary;
  background-color: $primary;

  transition: 0.15s ease background-color, border-color;
  &:after {
    position: absolute;
    top: 2px;
    left: 5px;

    display: inline-block;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
  }
}


// Select list
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.select {
  position: relative;

  width: 100%;
  height: 48px;
  border: 1px solid $primary;

  background-color: white;
  color: $primary;

  font-family: 'Lato', 'Noto Sans KR', Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-indent: 16px;

  @include border-radius(3px);
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &-wrapper:before {
    position: absolute;
    z-index: 999;
    top: 13px;
    right: 16px;

    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid $primary;
    border-width: 0 1px 1px 0;

    transform: rotate(45deg);
    content: "";
  }
}


// Description
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.description {
  padding: 25px 20px;
  margin-top: 15px;

  background-color: $gray-2;

  text-align: center;

  @include border-radius(3px);
  &__item {
    color: $gray-6;

    font-size: 12px;
    line-height: 1.4em;
  }
  &__item+.description__item {
    margin-top: 8px;
  }
}


// Etc
// ––––––––––––––––––––––––––––––––––––––––––––––––––
body *::selection {
  background-color: rgba(191,157,91,.4);
}

a { text-decoration: none; }
.empty { height: 1px; }
