// SASS Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import 'ingredients/reset';
@import 'ingredients/skeleton';
@import 'ingredients/color';
@import 'ingredients/type';
@import 'ingredients/mixin';
@import 'pages/index';
@import 'pages/subscribe';


a { text-decoration: none; }

.empty { height: 1px; }

// Navigation
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.nav {
  position: absolute;
  z-index: 999;
  top: 0;

  width: 100%;
  height: 60px;

  &__logo {
    width: 36px;
    height: 36px;
    margin-top: 12px;

    background-color: $gray-9;

    @include border-radius(50%);
  }

  &__menu {
    text-align: right;
  }

  &__item {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 22px;

    color: $gray-6;

    font-size: 13.5px;
  }

  &__item--active {
    color: $gray-7;

    font-weight: 600;
  }
}

// Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.footer {
  padding: 35px 0;

  background-color: $gray-8;
  color: $gray-3;

  &__bold {
    margin-right: 4px;

    font-weight: 600;
  }

  &__content {
    font-weight: 300;
    font-size: 12px;
    line-height: 2em;
  }

  &__list__title {
    margin-bottom: 15px;
  }

  &__list {
    font-size: 12px;
  }

  &__item {
    margin-top: 8px;

    color: $gray-3;

    font-weight: 300;
  }
}

// Section
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.section {
  padding: 120px 0;

  &__title {
    font-weight: 400;
    line-height: 1.4em;
  }

  &__explain {
    margin-top: 20px;

    color: $gray-6;
  }
}

// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button {
  display: inline-block;
  padding: 14px 25px 16px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -.025em;
  text-decoration: none;

  @include border-radius(3px);
}

.button~.button {
  margin-left: 10px;
}

.button--filled {
  background-color: $primary;
  color: white;
}

.button--ghost {
  border: 1px solid $primary;

  background-color: transparent;
  color: $primary;
}
