$primary: #bf9d5b; // 191,157,91
$primary--dark: #ac8b4e;
$positive: #5b844f;
$emphasis: #d23b28;

$gray-0 : #f8f9fa;
$gray-1 : #f1f3f5;
$gray-2 : #e9ecef;
$gray-3 : #dee2e6;
$gray-4 : #ced4da;
$gray-5 : #adb5bd;
$gray-6 : #868e96;
$gray-7 : #495057;
$gray-8 : #343a40;
$gray-9 : #212529; // 33, 37, 41

$background: #fff;
$border: $gray-3;
