// Font Import
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(../fonts/NotoSans-Thin.eot),
    url(../fonts/NotoSans-Thin.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Thin.woff) format('woff'),
    url(../fonts/NotoSans-Thin.woff2) format('woff2'),
    url(../fonts/NotoSans-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../fonts/NotoSans-Light.eot),
    url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Light.woff) format('woff'),
    url(../fonts/NotoSans-Light.woff2) format('woff2'),
    url(../fonts/NotoSans-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(../fonts/NotoSans-DemiLight.eot),
    url(../fonts/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-DemiLight.woff) format('woff'),
    url(../fonts/NotoSans-DemiLight.woff2) format('woff2'),
    url(../fonts/NotoSans-DemiLight.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../fonts/NotoSans-Regular.eot),
    url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Regular.woff) format('woff'),
    url(../fonts/NotoSans-Regular.woff2) format('woff2'),
    url(../fonts/NotoSans-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../fonts/NotoSans-Medium.eot),
    url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Medium.woff) format('woff'),
    url(../fonts/NotoSans-Medium.woff2) format('woff2'),
    url(../fonts/NotoSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../fonts/NotoSans-Bold.eot),
    url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Bold.woff) format('woff'),
    url(../fonts/NotoSans-Bold.woff2) format('woff2'),
    url(../fonts/NotoSans-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(../fonts/NotoSans-Black.eot),
    url(../fonts/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSans-Black.woff) format('woff'),
    url(../fonts/NotoSans-Black.woff2) format('woff2'),
    url(../fonts/NotoSans-Black.otf) format('opentype');
}


// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––
body {
  font-family: 'Noto Sans KR', Sans-serif;
  font-size: 15px;
  color: $gray-9;
  letter-spacing: -.015em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}


// Default h1, h2, h3, h4, p
//––––––––––––––––––––––––––––––––––––––––––––––––––
// font-weight: 100 300 400 500 600 700 900

h1 {
  font-size: 36px;
  line-height: 1.45em;
  letter-spacing: -.03em;
}

h2 {
  font-size: 25px;
  letter-spacing: -.03em;
}

h3 {
  font-size: 21px;
  letter-spacing: -.02em;
}

h4 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-size: 15px;
  line-height: 1.8em;
}
