
// Body
// ––––––––––––––––––––––––––––––––––––––––––––––––––
body {
  font-family: 'Noto Sans KR', Sans-serif;
  font-size: 15px;
  color: $gray-9;
  letter-spacing: -.015em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}


// Default h1, h2, h3, h4, p
//––––––––––––––––––––––––––––––––––––––––––––––––––
// font-weight: 100 300 400 500 700 900

h1 {
  font-weight: 100;
  font-size: 36px;
  line-height: 1.25em;
  letter-spacing: -.03em;
}

h2 {
  // font-weight: 700;
  // font-size: 23px;
  letter-spacing: -.03em;
}

h3 {
  // font-weight: 700;
  // font-size: 19px;
  letter-spacing: -.02em;
}

h4 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-size: 15px;
  line-height: 1.65em;
}
