// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Section Cover
// - Section Progressbar
// - Section Boxitem
// - Section Merit
// - Section Calendar
// - Section Insta
// - Section Beluga
// - Section Outro


// Section Cover
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.section.section__cover {
  position: relative;

  padding: 0;

  background: url("../img/main.jpg");
  background-size: cover;

  &:before {
    position: absolute;
    top: 0;
    left: -100%;

    display: inline-block;
    width: 100%;
    height: 100%;

    background-color: #e3e7ea;

    content: "";
  }

  .cover {
    &__content-wrapper {
      position: relative;

      padding: 290px 0 310px;
    }

    &__title {
      font-weight: 300;
    }

    &__subtitle {
      margin-top: 20px;
      margin-left: 2px;

      color: $gray-6;
    }
  }

  .button-wrapper {
    position: relative;

    margin-top: 32px;
  }

  .progressbar {
    position: absolute;
    bottom: -40px;

    overflow: hidden;
    padding: 15px 35px;

    background-color: white;

    box-shadow: 0 4px  4px  rgba(0, 23, 80, .01),
                0 1px  6px  rgba(0, 23, 80, .015),
                0 8px  8px  rgba(0, 23, 80, .012),
                0 16px 16px rgba(0, 23, 80, .012),
                8px 32px 32px rgba(0, 23, 80, .018),
                8px 64px 64px rgba(0, 23, 80, .018);
    &__number {
      display: inline-block;
      margin-top: 7px;

      color: $gray-7;
    }
    &__price {
      float: right;

      display: inline-block;
      margin-top: 7px;

      color: $gray-4;

      font-size: 18px;
    }
    &__total {
      position: relative;

      height: 2px;
      margin-top: 15px;

      background-color: $gray-1;
    }
    &__percent {
      position: absolute;
      top: -1px;

      display: inline-block;
      width: 82%;
      height: 4px;

      background-color: $primary;

      box-shadow: 0 4px  4px  rgba(0, 23, 80, .08),
                  0 1px  6px  rgba(0, 23, 80, .12),
                  0 8px  8px  rgba(0, 23, 80, .1),
                  0 16px 16px rgba(0, 23, 80, .1),
                  8px 32px 32px rgba(0, 23, 80, .14),
                  8px 64px 64px rgba(0, 23, 80, .14);
    }
  }

}


// Section Nightmeal
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__nightmeal {
  padding: 200px 0 120px;

  .section__text-wrapper {
    padding-left: 20px;
    margin-top: 90px;
  }

  .seven.columns {
    position: relative;
  }

  .nightmeal__image {
    width: 100%;
    height: 330px;
  }
  .nightmeal__circle {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -20px;

    width: 250px;
    height: 250px;

    background: url("../img/pattern.png");

    @include border-radius(50%);
  }
  .nightmeal__rectangle {
    position: absolute;
    z-index: -1;
    top: 170px;
    right: 220px;
  }
  .nightmeal__rectangle:before {
    position: absolute;

    width: 100px;
    height: 250px;

    background: url("../img/pattern.png");

    -webkit-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    transform: rotate(42deg);
    content: "";
  }
}

// Section Boxitem
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__boxitem {
  .section__text-wrapper {
    margin-top: 80px;
  }
  .row~.row { margin-top: 25px; }
  .boxitem {
    position: relative;

    padding: 20px 20px 25px;

    text-align: center;

    box-shadow: 0 4px  4px  rgba(0, 23, 80, .01),
                0 1px  6px  rgba(0, 23, 80, .015),
                0 8px  8px  rgba(0, 23, 80, .012),
                0 16px 16px rgba(0, 23, 80, .012),
                8px 32px 32px rgba(0, 23, 80, .018),
                8px 64px 64px rgba(0, 23, 80, .018);
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $primary;

      content: "";
    }
    &__image {
      width: 100%;
    }
    &__title {
      margin-top: 20px;

      font-weight: 600;
    }
    &__content {
      margin-top: 10px;

      color: $gray-6;

      font-size: 14px;
      line-height: 1.6em;
    }
  }
}

// Section Merit
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__merit {
  padding: 100px 0;
  .merit {
    &__text-wrapper {
      padding-left: 15px;
      margin-top: 73px;
    }

    &__image {
      width: 100%;
    }

    &__title {
      font-weight: 400;
      line-height: 1.4em;
    }

    &__content {
      margin-top: 16px;

      color: $gray-6;
    }
  }
}

// Section Calendar
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__calendar {
  padding: 100px 0;
  .section__text-wrapper {
    padding-left: 50px;
    margin-top: 80px;
  }

  .calendar__image {
    width: 100%;
    height: 435px;
  }
}

// Section Insta
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__insta {
  padding: 110px 0;
  .section__title {
    text-align: center;
  }

  .insta {
    &__item {
      overflow: hidden;
      margin-top: 50px;

      @include border-radius(5px);
      box-shadow: 0 4px  4px  rgba(0, 23, 80, .02),
                  0 1px  6px  rgba(0, 23, 80, .03),
                  0 8px  8px  rgba(0, 23, 80, .024),
                  0 16px 16px rgba(0, 23, 80, .024),
                  8px 32px 32px rgba(0, 23, 80, .036),
                  8px 64px 64px rgba(0, 23, 80, .036);
    }
    &__pic { }
    &__content {
      padding: 30px;
    }
    &__icon {
      display: inline-block;
      width: 24px;
      height: 24px;

      background: url("../img/insta__icon.png");
      background-size: cover;
    }
    &__username {
      display: inline-block;
      margin-top: 2px;
      margin-left: 5px;

      font-weight: 600;
      vertical-align: top;
    }
    &__text {
      margin-top: 10px;

      font-size: 14px;
      line-height: 1.7em;
    }
  }
}

// Section Beluga
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__beluga {
  padding: 100px 0 210px;

  .section__text-wrapper {
    padding-left: 40px;
    margin-top: 45px;
  }

  .beluga__image {
    position: relative;

    &:after {
      position: absolute;
      z-index: -1;
      top: 16px;
      left: 16px;

      display: inline-block;
      width: 100%;
      height: 100%;
      border: dashed $primary;
      border-width: 0 1px 1px 0;

      content: "";
    }
  }
}

// Section Outro
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__outro {
  padding: 150px 0;

  background: url("../img/outro.jpg") center;
  background-size: cover;

  .outro {
    &__title {
      font-weight: 300;
    }

    &__subtitle {
      margin-top: 20px;
      margin-left: 2px;

      color: $gray-7;
    }
  }

  .button-wrapper {
    margin-top: 32px;
  }
}
