// Section Cover
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.section__cover {
  min-height: 500px;

  background-color: $gray-1;
  .cover {
    &__title {
      margin-top: 95px;

      font-weight: 300;
    }

    &__subtitle {
      margin-top: 20px;
      margin-left: 2px;

      color: $gray-6;
    }
  }

  .button-wrapper {
    margin-top: 32px;
  }

  .countdown {
    position: absolute;
    z-index: 1;
    top: 488px;
    left: 0;

    width: 436px;
    padding: 35px 0;

    background-color: white;

    @include border-radius(0 0 120px 0);

    &__items {
      margin-top: 10px;
    }

    &__item {
      font-family: 'Lato', 'Noto Sans KR';
      font-size: 36px;
      letter-spacing: -.03em;
      b {
        color: $gray-2;

        font-weight: 400;
      }
    }

    &__unit {
      margin-left: -1px;
      margin-right: 15px;
    }

    &:before {
      position: absolute;
      z-index: -1;
      left: -150%;
      top: 0;

      display: inline-block;
      width: 200%;
      height: 100%;

      background-color: white;

      content: "";
    }
  }
}

// Section Nightmeal
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__nightmeal {
  padding: 160px 0 100px;

  .section__text-wrapper {
    padding-left: 20px;
    margin-top: 90px;
  }

  .nightmeal__image {
    width: 100%;
    height: 330px;

    background-color: $gray-2;
  }
}

// Section Delivery
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section__delivery {
  .section__text-wrapper {
    margin-top: 85px;
  }

  .delivery__image {
    width: 100%;
    height: 300px;

    background-color: $gray-2;
  }
}

// Section Merit
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section__merit {
  .merit {
    &__text-wrapper {
      padding-left: 15px;
      margin-top: 73px;
    }

    &__image {
      width: 100%;
      height: 240px;

      background-color: $gray-2;
    }

    &__title {
      font-weight: 400;
      line-height: 1.4em;
    }

    &__explain {
      margin-top: 16px;

      color: $gray-6;
    }
  }
}

// Section Calendar
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section__calendar {
  .section__text-wrapper {
    padding-left: 25px;
    margin-top: 120px;
  }

  .calendar__image {
    width: 100%;
    height: 380px;

    background-color: $gray-2;
  }
}

// Section Insta
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section__insta {
  .section__title {
    text-align: center;
  }

  .insta__item {
    height: 360px;
    margin-top: 40px;

    background-color: $gray-2;
  }
}

// Section Beluga
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section.section__beluga {
  padding: 100px 0 160px;

  .section__text-wrapper {
    padding-left: 20px;
    margin-top: 35px;
  }

  .beluga__image {
    width: 100%;
    height: 400px;

    background-color: $gray-2;
  }
}

// Section Outro
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.section__outro {
  min-height: 380px;

  background-color: $gray-1;

  .outro {
    &__title {
      margin-top: 96px;

      font-weight: 300;
    }

    &__subtitle {
      margin-top: 20px;
      margin-left: 2px;

      color: $gray-6;
    }
  }

  .button-wrapper {
    margin-top: 32px;
  }
}
