// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Profile
// - Submenu
// - Mypage - Subscribe
// - Mypage - Table
// - Mypage - Gift


// Profile
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.profile {
  padding-top: 25px;

  &__title {
    font-weight: 600;
  }
  &__subtitle {
    margin-top: 10px;

    color: $gray-5;
    line-height: 1.6em;
  }
}


// Submenu
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.submenu {
  margin-top: 45px;

  &__item {
    padding: 15px 0;

    &:hover a { color: $gray-9; }
    &:hover .submenu__icon__subscribe {
      background: url("../img/submenu__icon__subscribe--active.png");
      background-size: cover;
    }
    &:hover .submenu__icon__myinfo {
      background: url("../img/submenu__icon__myinfo--active.png");
      background-size: cover;
    }
    &:hover .submenu__icon__point {
      background: url("../img/submenu__icon__point--active.png");
      background-size: cover;
    }
    &:hover .submenu__icon__gift {
      background: url("../img/submenu__icon__gift--active.png");
      background-size: cover;
    }

    &--active .submenu__icon__subscribe {
      background: url("../img/submenu__icon__subscribe--active.png");
      background-size: cover;
    }
    &--active .submenu__icon__myinfo {
      background: url("../img/submenu__icon__myinfo--active.png");
      background-size: cover;
    }
    &--active .submenu__icon__point {
      background: url("../img/submenu__icon__point--active.png");
      background-size: cover;
    }
    &--active .submenu__icon__gift {
      background: url("../img/submenu__icon__gift--active.png");
      background-size: cover;
    }
  }

  &__item a {
    margin-left: 18px;
    color: $gray-5;

    vertical-align: super;

    transition: 0.25s ease-out;
  }
  &__item--active a {
    color: $gray-9;
  }

  &__icon {
    display: inline-block;
    width: 22px;
    height: 22px;

    transition: 0.25s ease-out;
    &__subscribe {
      background: url("../img/submenu__icon__subscribe.png");
      background-size: cover;
    }
    &__myinfo {
      background: url("../img/submenu__icon__myinfo.png");
      background-size: cover;
    }
    &__point {
      background: url("../img/submenu__icon__point.png");
      background-size: cover;
    }
    &__gift {
      background: url("../img/submenu__icon__gift.png");
      background-size: cover;
    }
  }
}



// Mypage - Subscribe
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.mypage {
  padding: 120px 0;

  &__subscribe {
    position: relative;

    box-shadow: 0 4px  4px  rgba(0, 23, 80, .02),
                0 1px  6px  rgba(0, 23, 80, .03),
                0 8px  8px  rgba(0, 23, 80, .024),
                0 16px 16px rgba(0, 23, 80, .024),
                8px 32px 32px rgba(0, 23, 80, .036),
                8px 64px 64px rgba(0, 23, 80, .036);
    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      display: inline-block;
      width: 100%;
      height: 2px;

      background-color: $primary;

      content: "";
    }
    &__item {
      position: relative;

      padding: 38px 0 38px 38px;
    }
    &__item ~ .mypage__subscribe__item:before {
      position: absolute;
      top: 20%;
      left: 0px;

      display: inline-block;
      width: 1px;
      height: 60%;

      background-color: $gray-1;

      content: "";
    }
    &__title {
      color: $gray-5;

      font-size: 13px;
      font-weight: 600;
      b {
        display: inline-block;
        margin-top: 8px;

        color: $gray-9;

        font-size: 18px;
        font-weight: 500;
      }
    }
    &__content {
      margin-top: 20px;

      font-size: 20px;
    }
    &__link {
      color: $primary;

      font-weight: 500;
      font-size: 13px;
    }

    &__address {
      margin-top: 20px;
      span {
        display: inline-block;
        margin-top: 25px;

        color: $gray-5;

        font-size: 14px;
      }
      p {
        margin-top: 12px;

        font-size: 14px;
        line-height: 1.3em;
      }
    }

    hr {
      margin-top: 25px;

      border-color: $gray-1;
    }

    .row:nth-child(1) {
      box-shadow: 0 4px  4px  rgba(0, 23, 80, .005),
                  0 1px  6px  rgba(0, 23, 80, .01),
                  0 8px  8px  rgba(0, 23, 80, .01),
                  0 16px 16px rgba(0, 23, 80, .01),
                  8px 32px 32px rgba(0, 23, 80, .01),
                  8px 64px 64px rgba(0, 23, 80, .01);
    }
    .jsCalendar table { background-color: transparent; }
    .auto-jsCalendar {
      position: relative;

      padding: 0px 20px 25px 20px;

      &:before {
        position: absolute;
        top: 8%;
        left: 0px;

        display: inline-block;
        width: 1px;
        height: 82%;

        background-color: $gray-1;

        content: "";
      }
    }
  }
}


// Mypage - Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.mypage__table {
  width: 100%;
  margin-top: 20px;

  &-wrapper {
    .button-wrapper {
      float: right;

      display: inline-block;
      margin-top: 31px;

      .button--ghost {
        padding: 10px 14px;
      }
    }
  }

  th, td { font-size: 14px; }
  th {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
  td {
    border-bottom: 1px dashed $border;
  }
  tr:last-child {
    border-bottom: 1px solid $border;
  }

  .view td:last-child {
    position: relative;

    &:before {
      position: absolute;
      top: 11px;
      right: 55%;

      display: inline-block;
      width: 8px;
      height: 8px;
      margin-bottom: 4px;
      border: solid $gray-9;
      border-width: 0 1px 1px 0;

      transform: rotate(45deg);
      content: "";
      transition: 0.2s ease-out;
    }
  }
  .view.open td:last-child:before {
    top: 17px;

    transform: rotate(225deg);
  }

  &__title {
    display: inline-block;
    margin-top: 40px;

    font-weight: 600;
  }
  &__link {
    color: $primary;

    font-weight: 500;
    font-size: 14px;
  }
  .view {
    cursor: pointer;
  }
  .fold {
    display: none;
    background-color: $gray-0;
    &__item {
      position: relative;

      padding: 20px 0 20px 20px;
    }
    &__item ~ .fold__item:before {
      position: absolute;
      top: 20%;
      left: 0px;

      display: inline-block;
      width: 1px;
      height: 60%;

      background-color: $gray-2;

      content: "";
    }
    &__title {
      color: $gray-5;

      font-size: 13px;
      font-weight: 600;
    }
    &__content{
      margin-top: 12px;

      font-size: 15px;
      line-height: 1.5em;
    }
  }
  .open {
    display: table-row;
  }
}

// Mypage - Gift
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mypage__gift {
  .mypage__table__title {
    margin-top: 26px;
  }
  .button-wrapper {
    margin-top: 17px;
  }
}

