// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Step
// - Subscribe Item
// - Subscribe Nightmeal
// - Subscribe Add on
// - Subscribe Period
// - Subscribe Delivery
// - Subscribe Purchase


// Step
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.step {
  padding: 20px 0;
  margin-top: 60px;
  border-bottom: 1px solid $border;

  background-color: rgba(248,249,250,.4);

  &__item--complete {
    .step__circle {
      background-color: $primary;
      border-color: $primary;
      color: white;
    }
    .step__title {
      color: $primary;
    }
  }

  &__item--active {
    .step__circle {
      border-color: $primary;
      color: $primary;
    }
    .step__title {
      color: $primary;
    }
  }

  &__circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: 1px solid $gray-4;

    color: $gray-5;

    font-weight: 500;
    line-height: 24px;
    text-align: center;

    @include border-radius(50%);
  }

  &__title {
    display: inline-block;
    margin-left: 7px;

    color: $gray-5;

    font-weight: 500;
    font-size: 14px;
  }
}

// Subscribe Item
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.subscribe {
  position: relative;

  padding: 60px 0 110px;

  text-align: center;
  &__header {
    font-size: 27px;
  }

  .button-wrapper {
    margin-top: 40px;
    .button { min-width: 110px; }
  }

  // 카드 UI
  &__item {
    position: relative;

    border: 1px solid $border;

    background-size: cover;

    text-align: left;

    cursor: pointer;
    transition: .25s ease-out;

    @include border-radius(3px);

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                  0 1px  6px  rgba(0, 0, 0, .015),
                  0 8px  8px  rgba(0, 0, 0, .012),
                  0 16px 16px rgba(0, 0, 0, .012),
                  8px 32px 32px rgba(0, 0, 0, .018),
                  8px 64px 64px rgba(0, 0, 0, .018);
    }

    &--selected {
      border-color: $positive;

      transform: scale(1.01);
      box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                  0 1px  6px  rgba(0, 0, 0, .015),
                  0 8px  8px  rgba(0, 0, 0, .012),
                  0 16px 16px rgba(0, 0, 0, .012),
                  8px 32px 32px rgba(0, 0, 0, .018),
                  8px 64px 64px rgba(0, 0, 0, .018);
      .subscribe__circle { display: inline-block; }
    }
    &-wrapper {
      margin-top: 36px;
    }
  } // 카드 UI 코드 끝

  &__title {
    display: inline-block;

    // color: white;

    font-weight: 700;
  }

  &__content {
    margin-top: 10px;

    // color: $gray-6;

    font-size: 13px;
    line-height: 1.6em;
  }

  &__tag {
    position: absolute;
    right: 20px;
    bottom: 20px;

    display: inline-block;
    padding: 8px 10px;

    background-color: white;

    font-weight: 600;
    font-size: 13px;

    @include border-radius(5px);
  }

  &__text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;

    min-width: 145px;
    padding: 25px 30px 20px 23px;
  }

  // 선택했을 때, 나오는 체크표시
  &__circle {
    position: absolute;
    z-index: 999;
    top: -17px;
    right: -17px;

    display: none;
    width: 44px;
    height: 44px;

    background-color: $positive;

    @include border-radius(50%);
    transform: rotate(45deg);

    &:before {
      position: absolute;
      top: 11px;
      left: 23px;

      width: 3px;
      height: 19px;

      background-color: white;

      @include border-radius(3px);
      content: "";
    }
    &:after {
      position: absolute;
      top: 27px;
      left: 14px;

      width: 12px;
      height: 3px;

      background-color: white;

      @include border-radius(3px);
      content: "";
    }
  }
  // 체크표시 코드 끝

  // 기간선택
  &__month {
    font-weight: 500;
    font-size: 34px;
    line-height: 1em;
  }
  &__times {
    margin-top: 5px;
    margin-left: 1px;

    color: $gray-6;
  }
  &__hr {
    width: 15%;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 25px;
  }
  &__price {
    display: inline-block;
    margin-left: 1px;

    color: $gray-4;

    text-decoration: line-through;
    &--none { text-decoration: none; }
  }
  &__discount {
    display: inline-block;
    margin-left: 5px;
    padding-top: 2px;

    color: $emphasis;

    font-size: 13px;
    vertical-align: top;

    @include border-radius(3px);
  }
  &__sale-price {
    margin-top: 6px;
  }
  // 기간선택 코드 끝
}

// Subscribe Nightmeal
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.subscribe__nightmeal {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";


  }
  .subscribe__item {
    min-height: 410px;
  }
}

// Subscribe Add On
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.subscribe__add-on {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .subscribe__item {
    min-height: 410px;

    background-color: $gray-1;
  }
}

// Subscribe Period
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.subscribe__period {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .subscribe__item {
    padding: 38px 0 38px 32px;

    background-color: white;
  }
}


// Subscribe Delivery
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.subscribe__delivery {
  padding: 80px 0 40px;

  text-align: left;

  background-color: $gray-1;
  .purchaser-info {
    padding: 25px 20px;
    margin-top: 10px;

    background-color: white;

    box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                0 1px  6px  rgba(0, 0, 0, .015),
                0 8px  8px  rgba(0, 0, 0, .012),
                0 16px 16px rgba(0, 0, 0, .012),
                8px 32px 32px rgba(0, 0, 0, .018),
                8px 64px 64px rgba(0, 0, 0, .018);

    @include border-radius(3px);

    .checkbox-wrapper {
      margin-top: 15px;
    }

    &__header {
      color: $gray-7;

      font-size: 13px;
      font-weight: 500;
    }

    &__item-wrapper {
      overflow: hidden;
    }

    &__item {
      float: left;

      margin-right: 11px;

      color: $gray-7;

      font-weight: 600;
    }
  }
}
.description {
  padding: 25px 20px;
  margin-top: 15px;

  background-color: $gray-2;

  text-align: center;

  @include border-radius(3px);
  &__item {
    color: $gray-6;

    font-size: 12px;
    line-height: 1.4em;
  }
  &__item+.description__item {
    margin-top: 8px;
  }
}


// Subscribe Purchase
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.subscribe__purchase {
  position: relative;

  padding: 0 0 100px;

  text-align: left;

  &:before {
    position: absolute;
    top: 0;

    width: 100%;
    height: 52px;

    background-color: $gray-1;

    content: "";
  }

  .subscribe-info__item {
    position: relative;

    overflow: hidden;
    padding: 28px 20px 25px 30px;

    background-color: white;
    color: $gray-7;

    font-weight: 600;
    font-size: 17px;
    line-height: 1.6em;

    // @include border-radius(2px 2px 0 0);
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                0 1px  6px  rgba(0, 0, 0, .015),
                0 8px  8px  rgba(0, 0, 0, .012),
                0 16px 16px rgba(0, 0, 0, .012),
                8px 32px 32px rgba(0, 0, 0, .012),
                8px 64px 64px rgba(0, 0, 0, .012);
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;
      width: 100%;
      height: 2px;

      background-color: $primary;

      content: "";
    }
    span {
      color: $gray-6;

      font-weight: 500;
      font-size: 14px;
    }
  }
  .purchase {

    padding: 20px;

    @include border-radius(0 0 3px 3px);
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                0 1px  6px  rgba(0, 0, 0, .015),
                0 8px  8px  rgba(0, 0, 0, .012),
                0 16px 16px rgba(0, 0, 0, .012),
                8px 32px 32px rgba(0, 0, 0, .018),
                8px 64px 64px rgba(0, 0, 0, .018);
    .button-wrapper {
      margin-top: 15px;
    }
    .button--filled {
      width: 100%;

      text-align: center;

      box-sizing: border-box;
    }
    &-info__item {
      position: relative;

      overflow: hidden;
      margin-top: 23px;

      color: $gray-6;

      font-size: 16px;
      .input-wrapper { margin-top: 0; }
    }
    &-info__label {
      position: relative;

      font-size: 14px;
    }
    &-info__link {
      display: inline-block;
      margin-top: 9px;
      border-bottom: 1px solid $primary;

      color: $primary;

      font-weight: 600;
      font-size: 12px;
    }
    &-info__value {
      float: right;

      color: $gray-6;

      font-weight: 400;
    }
    &-info__total {
      margin-top: 20px;
      padding: 20px 0 0;
      border-top: 1px dashed $border;

      .purchase-info__label {
        color: $gray-9;

        font-weight: 600;
        font-size: 16px;
      }
      .purchase-info__value {
        color: $gray-9;

        font-weight: 700;
      }
    }
    .checkbox-wrapper {
      margin-top: 15px;
    }
  }
}

.select {
  position: relative;

  width: 100%;
  height: 48px;
  border: 1px solid $primary;

  background-color: white;
  color: $primary;

  font-size: 14px;
  font-weight: 600;
  text-indent: 16px;

  @include border-radius(3px);
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &-wrapper:before {
    position: absolute;
    z-index: 999;
    top: 13px;
    right: 16px;

    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid $primary;
    border-width: 0 1px 1px 0;

    transform: rotate(45deg);
    content: "";
  }
}
