// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Step
// - Select Item
// - Select Nightmeal
// - Select Add on
// - Select Period


// Step
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.step {
  padding: 20px 0;
  margin-top: 60px;
  border-bottom: 1px solid $border;

  background-color: rgba(248,249,250,.4);

  &__item--complete {
    .step__circle {
      background-color: $primary;
      border-color: $primary;
      color: white;
    }
    .step__title {
      color: $primary;
    }
  }

  &__item--active {
    .step__circle {
      border-color: $primary;
      color: $primary;
    }
    .step__title {
      color: $primary;
    }
  }

  &__circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: 1px solid $gray-4;

    color: $gray-5;

    font-weight: 500;
    line-height: 24px;
    text-align: center;

    @include border-radius(50%);
  }

  &__title {
    display: inline-block;
    margin-left: 7px;

    color: $gray-5;

    font-weight: 600;
    font-size: 14px;
  }
}

// Select Item
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select {
  position: relative;

  padding: 60px 0 110px;

  text-align: center;
  &__header {
    font-size: 27px;
  }

  .button-wrapper {
    margin-top: 40px;
    .button { min-width: 110px; }
  }

  // 카드 UI
  &__item {
    position: relative;

    border: 1px solid $border;

    text-align: left;

    cursor: pointer;
    transition: .25s ease-out;

    @include border-radius(3px);

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                  0 1px  6px  rgba(0, 0, 0, .015),
                  0 8px  8px  rgba(0, 0, 0, .012),
                  0 16px 16px rgba(0, 0, 0, .012),
                  8px 32px 32px rgba(0, 0, 0, .018),
                  8px 64px 64px rgba(0, 0, 0, .018);
    }

    &--selected {
      border-color: $positive;

      transform: scale(1.01);
      box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                  0 1px  6px  rgba(0, 0, 0, .015),
                  0 8px  8px  rgba(0, 0, 0, .012),
                  0 16px 16px rgba(0, 0, 0, .012),
                  8px 32px 32px rgba(0, 0, 0, .018),
                  8px 64px 64px rgba(0, 0, 0, .018);
      .select__circle { display: inline-block; }
    }
    &-wrapper {
      margin-top: 36px;
    }
  } // 카드 UI 코드 끝

  &__title {
    display: inline-block;

    font-weight: 700;
  }

  &__content {
    margin-top: 10px;

    color: $gray-6;

    font-size: 13px;
    line-height: 1.6em;
  }

  &__tag {
    margin-left: 6px;
    padding: 2px 4px;

    font-size: 13px;

    @include border-radius(3px);
    &--emphasis {
      border: 1px solid $emphasis;
      color: $emphasis;
    }
    &--positive {
      border: 1px solid $positive;
      color: $positive;
    }
  }

  &__text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;

    min-width: 145px;
    padding: 25px 30px 20px 23px;

    background-color: white;

    @include border-radius(0 3px 0 3px);
  }

  // 선택했을 때, 나오는 체크표시
  &__circle {
    position: absolute;
    z-index: 999;
    top: -17px;
    right: -17px;

    display: none;
    width: 44px;
    height: 44px;

    background-color: $positive;

    @include border-radius(50%);
    transform: rotate(45deg);

    &:before {
      position: absolute;
      top: 11px;
      left: 23px;

      width: 3px;
      height: 19px;

      background-color: white;

      @include border-radius(2px);
      content: "";
    }
    &:after {
      position: absolute;
      top: 27px;
      left: 14px;

      width: 12px;
      height: 3px;

      background-color: white;

      @include border-radius(3px);
      content: "";
    }
  }
  // 체크표시 코드 끝

  // 기간선택
  &__month {
    font-weight: 500;
    font-size: 34px;
    line-height: 1em;
  }
  &__times {
    margin-top: 5px;
    margin-left: 1px;

    color: $gray-6;
  }
  &__hr {
    width: 15%;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 25px;
  }
  &__price {
    display: inline-block;
    margin-left: 1px;

    color: $gray-4;

    text-decoration: line-through;
    &--none { text-decoration: none; }
  }
  &__discount {
    display: inline-block;
    margin-left: 5px;
    padding-top: 2px;

    color: $emphasis;

    font-size: 13px;
    vertical-align: top;

    @include border-radius(3px);
  }
  &__sale-price {
    margin-top: 6px;
  }
  // 기간선택 코드 끝
}

// Select Nightmeal
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__nightmeal {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .select__item {
    min-height: 350px;

    background-color: $gray-1;
  }
}

// Select Add On
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__add-on {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .select__item {
    min-height: 350px;

    background-color: $gray-1;
  }
}

// Select Period
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__period {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .select__item {
    padding: 38px 0 38px 32px;

    background-color: white;
  }
}


// Select q
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__q {
  text-align: left;

  background-color: $gray-1;
}

.input {
  width: 100%;
  padding: 9px;
  // border: 0;
  border: 1px solid $border;

  background-color: white;

  font-weight: 400;
  font-size: 14px;

  box-sizing: border-box;
  @include border-radius(3px);
  &:focus { outline: 0; }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray-5;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray-5;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $gray-5;
  }

  &-wrapper {
    position: relative;

    margin-top: 40px;
  }

  &__label {
    position: absolute;
    top: -20px;
    left: 0px;

    color: $gray-6;

    font-weight: 600;
    font-size: 13px;

    pointer-events: none;
  }

// not(:placeholder-shown)

  &__bar__horizontal:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-top: 1px solid $gray-8;

    content: "";
    transition: .2s ease;
    transform: scaleX(0);
    transform-origin: right center;

    pointer-events: none;
    @include border-radius(3px);
  }

  &__bar__horizontal:after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    border-bottom: 1px solid $gray-8;

    content: "";
    transition: .15s ease;
    transition-delay: .3s;
    transform: scaleX(0);
    transform-origin: left center;
    pointer-events: none;
    @include border-radius(3px);
  }
  &:focus~.input__bar__horizontal:before,
  &:valid~.input__bar__horizontal:before {
    transform: scaleX(1);
    transition-delay: .45s;
  }
  &:focus~.input__bar__horizontal:after,
  &:valid~.input__bar__horizontal:after {
    transform: scaleX(1);
    transition-delay: .15s;
  }

  &__bar__vertical:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-left: 1px solid $gray-8;

    content: "";
    transition: .15s ease;
    transition-delay: .45s;
    transform: scaleY(0);
    transform-origin: top center;
    pointer-events: none;
    @include border-radius(3px);
  }
  &__bar__vertical:after {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
    border-right: 1px solid $gray-8;

    content: "";
    transition: .15s ease;
    transition-delay: .15s;
    transform: scaleY(0);
    transform-origin: bottom center;
    pointer-events: none;
    @include border-radius(3px);
  }
  &:focus~.input__bar__vertical:before,
  &:valid~.input__bar__vertical:before {
    transform: scaleY(1);
    transition-delay: 0s;
  }
  &:focus~.input__bar__vertical:after,
  &:valid~.input__bar__vertical:after {
    transform: scaleY(1);
    transition-delay: .3s;
  }

  &__alert {}

}








