// Table of contents
//––––––––––––––––––––––––––––––––––––––––––––––––––
// - Step
// - Select Item
// - Select Nightmeal
// - Select Add on
// - Select Period


// Step
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.step {
  padding: 20px 0;
  margin-top: 60px;
  border-bottom: 1px solid $border;

  background-color: rgba(248,249,250,.4);

  &__item--complete {
    .step__circle {
      background-color: $primary;
      border-color: $primary;
      color: white;
    }
    .step__title {
      color: $primary;
    }
  }

  &__item--active {
    .step__circle {
      border-color: $primary;
      color: $primary;
    }
    .step__title {
      color: $primary;
    }
  }

  &__circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border: 1px solid $gray-4;

    color: $gray-5;

    font-weight: 500;
    line-height: 24px;
    text-align: center;

    @include border-radius(50%);
  }

  &__title {
    display: inline-block;
    margin-left: 7px;

    color: $gray-5;

    font-weight: 600;
    font-size: 14px;
  }
}

// Select Item
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select {
  position: relative;

  padding: 60px 0 110px;

  text-align: center;
  &__header {
    font-size: 27px;
  }

  .button-wrapper {
    margin-top: 40px;
    .button { min-width: 110px; }
  }

  // 카드 UI
  &__item {
    position: relative;

    border: 1px solid $border;

    text-align: left;

    cursor: pointer;
    transition: .25s ease-out;

    @include border-radius(3px);

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                  0 1px  6px  rgba(0, 0, 0, .015),
                  0 8px  8px  rgba(0, 0, 0, .012),
                  0 16px 16px rgba(0, 0, 0, .012),
                  8px 32px 32px rgba(0, 0, 0, .018),
                  8px 64px 64px rgba(0, 0, 0, .018);
    }

    &--selected {
      border-color: $positive;

      transform: scale(1.01);
      box-shadow: 0 4px  4px  rgba(0, 0, 0, .01),
                  0 1px  6px  rgba(0, 0, 0, .015),
                  0 8px  8px  rgba(0, 0, 0, .012),
                  0 16px 16px rgba(0, 0, 0, .012),
                  8px 32px 32px rgba(0, 0, 0, .018),
                  8px 64px 64px rgba(0, 0, 0, .018);
      .select__circle { display: inline-block; }
    }
    &-wrapper {
      margin-top: 36px;
    }
  } // 카드 UI 코드 끝

  &__title {
    font-weight: 700;
  }

  &__content {
    margin-top: 10px;

    color: $gray-6;

    font-size: 13px;
    line-height: 1.6em;
  }

  &__text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;

    min-width: 145px;
    padding: 25px 30px 20px 23px;

    background-color: white;

    @include border-radius(0 3px 0 3px);
  }

  // 선택했을 때, 나오는 체크표시
  &__circle {
    position: absolute;
    z-index: 999;
    top: -17px;
    right: -17px;

    display: none;
    width: 44px;
    height: 44px;

    background-color: $positive;

    @include border-radius(50%);
    transform: rotate(45deg);

    &:before {
      position: absolute;
      top: 11px;
      left: 23px;

      width: 3px;
      height: 19px;

      background-color: white;

      @include border-radius(2px);
      content: "";
    }
    &:after {
      position: absolute;
      top: 27px;
      left: 14px;

      width: 12px;
      height: 3px;

      background-color: white;

      @include border-radius(3px);
      content: "";
    }
  }
  // 체크표시 코드 끝

  // 기간선택
  &__month {
    font-weight: 500;
    font-size: 34px;
    line-height: 1em;
  }
  &__times {
    margin-top: 5px;
    margin-left: 1px;

    color: $gray-6;
  }
  &__hr {
    width: 15%;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 25px;
  }
  &__price {
    color: $gray-4;

    text-decoration: line-through;
    &--none { text-decoration: none; }
  }
  &__sale-price {
    margin-top: 6px;
  }
  // 기간선택 코드 끝
}

// Select Nightmeal
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__nightmeal {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .select__item {
    min-height: 350px;

    background-color: $gray-1;
  }
}

// Select Add On
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__add-on {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .select__item {
    min-height: 350px;

    background-color: $gray-1;
  }
  .button--text {
    margin-top: 20px;
  }
  .button-wrapper {
    margin-top: 18px;
  }
}

// Select Period
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select__period {
  &:before {
    position: absolute;
    z-index: -999;
    top: 0;

    display: block;
    width: 100%;
    height: 240px;

    background-color: $gray-0;

    content: "";
  }
  .select__item {
    padding: 35px 32px 40px;

    background-color: white;
  }
}
